body {

    background-image: url("oppen.gif");
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}